body {
  margin: 0;
  background-color: #191919;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Sans-serif;
}

h1 {
  color: white;
}

.blue {
  color: #00C0FF;
}

.myButton {
  width: calc(20vw + 6px);
  height: calc(8vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: bold;
}

.myButton:after {
  width: 20vw;
  height: 8vh;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myButton:hover {
  animation: slidebg 1.5s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
